{
	"env": {
		"browser": true,
		"es6": true,
		"jest": true,
		"jest/globals": true
	},
	"plugins": ["jest", "@typescript-eslint"],
	"extends": [
		"eslint-config-airbnb",
		"airbnb/hooks",
		"plugin:jest/recommended",
		"plugin:jest/style"
		// "plugin:@typescript-eslint/eslint-recommended",
        // "plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		],
		"indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
		"no-tabs": 0,
		"react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
		"react/no-did-update-set-state": 0,
		"react/static-property-placement": 0, // maybe re-enable?
		"react/prop-types": 0,
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"comma-dangle": 0, // WTF air-bnb?!
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"double"
		],
		"no-console": "off",
		"curly": [2, "all"],
		"brace-style": [2, "stroustrup"],
		"semi": ["error", "always"],
		"react/jsx-props-no-spreading": [2, {
			"custom": "ignore"
		}],
		"react/jsx-fragments": [2, "syntax"],
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": "error",
		"no-shadow": "off",
  		"@typescript-eslint/no-shadow": ["error"],
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": ["error"]
	},
	"parserOptions": {
		"sourceType": "module"
	},
	"parser": "@typescript-eslint/parser",
	"ignorePatterns": ["!.storybook"],
	"settings": {
		"import/resolver": {
			"node": {
			"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	}
}
