html {
	background: #fff;
	color: rgb(92, 92, 92);
}

.App {
	font-family: sans-serif;
	font-size: 15px;
	display: flex;
	padding: 2em;
	flex-direction: column;
	align-items: center;
}

h1,h2,h3,h4 {
	color: rgb(29, 29, 29);
}

h1 {
	margin: 0;
	margin-bottom: 0.25em;
}

h2,h3,h4 {
	margin: 0;
	margin-bottom: 1em;
}

p {
	margin: 0;
	margin-bottom: 2em;
}

.buttons {
	display: flex;
}

.buttons button {
	border-radius: 0;
	margin-right: 1px;
}

.buttons button:first-of-type {
	border-radius: 0.5em 0 0 0.5em;
}

.buttons button:last-of-type {
	border-radius: 0 0.5em 0.5em 0;
}

button {
	margin-right: 0.5em;
}

button, ::-webkit-file-upload-button {
	display: flex;
	margin-right: 0.5em;
	background: rgb(242, 242, 242);
	padding: 0.5em 0.75em;
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
	align-items: center;
}

button:active {
	background-color: black;
}

button svg {
	margin-right: 5px;
}


::-webkit-file-upload-button {
	background:#fff;
}



.selected {
	background: rgb(29, 29, 29);
	color: #fff;
}

.yellow {
	background: yellow;
}

.pink {
	background: hotpink;
	color: #fff;
}

.blue {
	background: rgb(153, 226, 255);
}

  section {
	display: flex;
	width: 100%;
	max-width: 1000px;
	padding: 2em 0;
	border-bottom: 1px solid rgb(242, 242, 242);
  }

  .canvas-container {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background: rgb(242, 242, 242);
	  border-radius: 10px;
	  width: 100%;
	  height: 400px;
	  margin-bottom: 1em;
  }

  a {
	color: hotpink;
  }
