{
	"env": {
		"browser": true,
		"es6": true,
		"jest": true,
		"jest/globals": true
	},
	// "plugins": ["@typescript-eslint"],
	"extends": [
		// "airbnb-typescript/base",
		// "eslint-config-airbnb-base",
		// "plugin:jest/recommended",
		// "plugin:jest/style",
		// "plugin:import/errors",
		// "plugin:import/warnings",
		// "plugin:import/typescript"
	],
	"rules": {
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		],
		"indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
		"@typescript-eslint/indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
		"no-tabs": 0,
		"comma-dangle": 0, // WTF air-bnb?!
		"@typescript-eslint/comma-dangle": 0,
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"double"
		],
		"@typescript-eslint/quotes": [
			"error",
			"double"
		],
		"no-console": "off",
		"curly": [2, "all"],
		"brace-style": [2, "stroustrup"],
		"@typescript-eslint/brace-style": [2, "stroustrup"],
		"semi": ["error", "always"],
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": "error",
		"no-shadow": "off",
  		"@typescript-eslint/no-shadow": ["error"],
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": ["error"]
	},
	"parserOptions": {
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"parser": "@typescript-eslint/parser",
	"ignorePatterns": ["!.storybook"],
	"settings": {
		"import/core-modules": [
			"dicom.js"
		],
		"import/external-module-folders": [
			"../dicom.js/node_modules"
		],
		"import/extensions": [
		  ".js",
		  ".ts"
		]
	  }
}
