{
	"env": {
		"browser": true,
		"es6": true,
		"jest": true,
		"jest/globals": true
	},
	// "plugins": ["@typescript-eslint"],
	"extends": [
		// "airbnb-typescript/base",
		// "eslint-config-airbnb-base",
		// "plugin:jest/recommended",
		// "plugin:jest/style",
		// "plugin:import/errors",
		// "plugin:import/warnings",
		// "plugin:import/typescript"
	],
	"rules": {
		"files": ["*.js", "*.jsx"],
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		],
		"indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
		
		"no-tabs": 0,
		"comma-dangle": 0, // WTF air-bnb?!
		
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"double"
		],
		
		"no-console": "off",
		"curly": [2, "all"],
		"brace-style": [2, "stroustrup"],
		"semi": ["error", "always"],
		"no-unused-vars": "off",
		"no-shadow": "off",
		"no-use-before-define": "off"
	},
	"parserOptions": {
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"parser": "@typescript-eslint/parser",
	"ignorePatterns": ["!.storybook"],
	"settings": {
		"import/core-modules": [
			"dicom.ts"
		],
		"import/external-module-folders": [
			"../dicom.ts/node_modules"
		],
		"import/extensions": [
		  ".js",
		  ".ts"
		]
	},
	"overrides": [{
		// enable the rule specifically for TypeScript files
		"files": ["*.ts", "*.tsx", ".d.ts"],
		"rules": {
			"no-shadow": "off",
			"@typescript-eslint/explicit-module-boundary-types": "error",
			"@typescript-eslint/no-use-before-define": "error",
			"@typescript-eslint/no-shadow": "error",
			"react/require-default-props": ["off"],
			"@typescript-eslint/indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
			"promise/always-return": ["error", { "ignoreLastCallback": true }],
			"@typescript-eslint/comma-dangle": 0,
			"@typescript-eslint/quotes": [
				"error",
				"double"
			],
			"@typescript-eslint/brace-style": [2, "stroustrup"],
			"@typescript-eslint/no-unused-vars": "error"
		}
	}]
}
